<ion-content >
  <div class="padding">
    <ion-item>
      <ion-label color="light">Prénom</ion-label>
      <ion-input color="light" type="Prénom" placeholder="Prénom"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="light">Nom </ion-label>
      <ion-input color="light" type="Nom" placeholder="Nom"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="light">Numéro de télephone</ion-label>
      <ion-input color="light" type="Numéro de télephone" placeholder="Numéro de télephone"></ion-input>
    </ion-item>
    <ion-item >
      <ion-label color="light">Email</ion-label>
      <ion-input color="light" type="mail" placeholder="Adresse email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="light">Mot de passe</ion-label>
      <ion-input color="light" type="password" placeholder="Mot de passe"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="light">confirmation Mot de passe</ion-label>
      <ion-input color="light" type="password" placeholder="Mot de passe"></ion-input>
    </ion-item>


    <ion-button color="light" expand="block" shape="round" fill="outline">crée un compte</ion-button>
    <br>
    <ion-button color="tertiary" expand="block" routerLink="/login" routerDirection="root"  shape="round">Login</ion-button>

    

  </div>
</ion-content>
